@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  background-color: #000;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.area  {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 144px 86px auto 86px;
  grid-template-areas: 'header header'
                       'menu menu'
                       'sidebar main'
                       'footer footer';
  position: relative;
}

.box {
  width: 100%;
  height: 100%;
  display: block;
  padding: 24px;
  position: relative;
}

.box::before {
  content: attr(data-label);
  position: absolute;
  bottom: 24px; right: 24px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .125rem;
  opacity: 0;
  visibility: hidden;
  color: #FF0080;
  pointer-events: none;
  transition: all 150ms ease;
}

.box::after {
  content: '';
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 4px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed transparent;
  pointer-events: none;
  transition: all 150ms ease;
}

.box:hover::before {
  opacity: 1;
  visibility: visible;
}

.box:hover::after {
  border-color: #FF0080;
}

.heading-1 {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.heading-2 {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.heading-3 {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.heading-4 {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.heading-5 {
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.heading-6 {
  color: white;
  font-weight: 600;
  font-size: 12px;
}

.text.small {
  color: #7C7977;
  font-size: 14px;
}

.button {
  border: 0;
  border-radius: 4px;
  min-width: 96px;
  padding: 12px 0;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.button:hover {
  filter: brightness(.9);
}

.button-primary {
  color: white;
  font-weight: 600;
  background-color: #FF0080;
}

.button-secondary {
  color: white;
  font-weight: 600;
  background-color: #FFF500;
}

.image {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 999px;
}

.image img {
  width: 100%;
}

.header {
  grid-area: header;
  display: block;
  position: relative;
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.menu {
  grid-area: menu;
  display: block;
  position: relative;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.sidebar {
  grid-area: sidebar;
  display: block;
  position: relative;
}

.sidebar-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 48px 0;
  position: relative;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 24px;
}

.sidebar-info {
  padding: 12px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #1a1a1a;
}

.sidebar-info button {
  width: 100%;
  font-weight: 700;
  margin-top: 14px;
}

.sidebar-user {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.sidebar-user figure {
  margin-right: 12px;
}

.main {
  grid-area: main;
  display: block;
  position: relative;
}

.footer {
  grid-area: footer;
  display: block;
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}
