@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Catamaran', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  background-color: #1C1917;
}

.container {
  width: 100%;
  height: auto;
  max-width: 1280px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.flexible {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 64px 0;
}

.form-wrapper {
  display: block;
  position: relative;
  padding: 12px 0;
}

.form {
  display: flex;
  gap: 12px;
}

.form-group {
  flex: 1;
}

.form-subgroup {
  width: 100%;
  display: flex;
  position: relative;
}

.form-subgroup .inputbox {
  padding-left: 36px;
}

.form-submit {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: #3B82F6;
  cursor: pointer;
  letter-spacing: .125rem;
}

.form-submit:active {
  transform: scale(.97);
}

.form-submit:hover {
  background-color: #2563EB;
}

.label {
  display: flex;
  position: relative;
  border-radius: 4px;
  color: #78716C;
  background-color: #292524;
}

.text {
  position: absolute;
  top: 14px; left: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.input {
  width: 100%;
  height: 69px;
}

.inputcolor {
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 999px;
  overflow: hidden;
  position: absolute;
  bottom: 18px; left: 12px;
}

.inputbox {
  width: 100%;
  height: 69px;
  border: 0;
  position: relative;
  background: transparent;
  padding: 28px 12px 12px 12px;
  font-size: 16px;
  color: #D6D3D1;
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
}

.inputbox:focus {
  outline: none;
}