@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Catamaran', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  background-color: #1C1917;
}

.container {
  width: 100%;
  height: auto;
  max-width: 1280px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.flexible {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 64px 0;
}

.number {
  font-family: 'Karla', sans-serif !important;
}

.center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-wrapper {
  display: block;
  position: relative;
  padding: 12px 0;
}

.form {
  display: flex;
  gap: 12px;
}

.form-group {
  flex: 1;
}

.form-subgroup {
  width: 100%;
  display: flex;
  position: relative;
}

.form-subgroup .inputbox {
  padding-left: 36px;
}

.form-fixed {
  width: 100%;
  max-width: 768px;
  border-radius: 4px;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 14px; left: 50%;
  transition: all 300ms ease;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) scale(.9);
  background-color: #292524;
}

.form-fixed.visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.form-fixed__text {
  display: flex;
  align-items: center;
  color: white;
  padding-top: 4px;
  font-size: 17px;
  font-family: 'Catamaran', sans-serif;
}

.form-buttons {
  display: flex;
  gap: 8px;
}

.form-button {
  min-width: 96px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Catamaran', sans-serif;
  padding: 8px 24px;
}

.form-button:hover {
  text-decoration: underline;
}

.form-button__submit {
  background-color: #3ca95e;
}

.form-button__submit:hover {
  text-decoration: none;
  background-color: #349151;
}

.label {
  display: flex;
  position: relative;
  border-radius: 4px;
  color: #78716C;
  background-color: #292524;
}

.text {
  position: absolute;
  top: 14px; left: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.input {
  width: 100%;
  height: 69px;
}

.inputcolor {
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 999px;
  overflow: hidden;
  position: absolute;
  bottom: 18px; left: 12px;
  cursor: pointer;
  z-index: 10;
}

.inputbox {
  width: 100%;
  height: 69px;
  border: 0;
  position: relative;
  background: transparent;
  padding: 28px 12px 12px 12px;
  font-size: 16px;
  color: #D6D3D1;
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
  cursor: text;
}

.inputbox:focus {
  outline: none;
}

.table-wrapper {
  display: block;
  position: relative;
  padding: 12px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-title {
  color: #E7E5E4;
  margin-bottom: 28px;
}

.table-head tr {
  border-bottom: 1px solid #44403C;
}

.table-head tr th {
  padding: 12px 0;
  text-align: center;
  font-weight: 600;
  color: #78716C;
}

.table-head tr th:nth-child(2) {
  text-align: left;
  padding: 0 24px;
}

.table-body tr {
  padding: 12px 0;
  border-bottom: 1px solid #292524;
}

.table-body tr.table-noborder {
  border-bottom: 0 !important;
}

.table-body tr td {
  text-align: center;
  padding: 12px 0;
  color: #F5F5F4;
}

.table-body tr td:nth-child(1) {
  width: 8%;
}

.table-body tr td:nth-child(2) {
  width: 20%;
  padding: 0 24px;
  text-align: left;
}

.table-body .table-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-body .table-image img {
  width: 100%;
}

.table-body .table-model {
  display: flex;
  flex-direction: column;
}

.table-body .table-model .model {
  font-size: 18px;
  font-weight: 600;
}

.table-body .table-model .year {
  color: #A8A29E;
  font-weight: 600;
}

.table-body .table-color {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-body .table-color span {
  display: inline-block;
  width: 64%;
  height: 8px;
  border-radius: 999px;
}

.table-body .table-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-body .table-actions .table-button {
  border: 0;
  padding: 8px;
  color: #57534E;
  background-color: transparent;
  cursor: pointer;
}

.table-body .table-actions .table-button:hover {
  color: #ED4245;
}

.table-td__counter {
  padding: 18px;
  border: 0;
}

.table-body .table-counter {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 24px 12px;
  text-transform: uppercase;
  font-size: 16px;
}

.table-body .table-counter span {
  display: flex;
  align-items: center;
}

.table-body .table-counter .type {
  font-weight: 600;
  font-family: 'Karla', sans-serif !important;
}

.table-body .table-counter .number {
  color: #A8A29E;
}